/*=== Sitewide style ===*/
body,
html {
    height: 100%;
	margin: 0px;
	overflow-x: hidden;
}
.container {
	width: 55%;
	height: auto;
	border-radius: 10px;
	padding: 30px;
	line-height: normal;
}
.container-terminal {
	opacity: 0.7;
}
.container-copyright {
	text-align: center;
}
.col-sm-auto {
	padding-right: 0px;
}
p {
	font-family: 'Ubuntu', sans-serif; 
	font-size: 16px;
	color: white;
}
a:hover{
	text-decoration: none;
}

/*=== Header style ===*/
ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  width: 100%;
  margin-top: 2em;
  padding-inline-start: 0px;
}
li {
  float: left;
	font-family: 'Orbitron', sans-serif;
	font-size: 38px;
	color: white;
	font-weight: bold;
}
li a {
  display: block;
  color: white;
  text-decoration: none;
  opacity: 0.4;
  padding: 15px;
  border-bottom: 2px solid rgba(255, 255, 255, 0);
}
li a:hover {
  color: black;
  opacity: 1;
  border-bottom: 2px solid rgba(255, 255, 255, .5);
}
.whoami-logo a {
  display: block;
  color: white;
  text-decoration: none;
  opacity: 1;
  border-bottom: 2px solid rgba(255, 255, 255, 0);
}
.whoami-logo a:hover {
  color: white;
  text-decoration: none;
  opacity: 1;
  border-bottom: 2px solid rgba(255, 255, 255, 0);
}
.whoami-dollar {
	font-family: 'Ubuntu', sans-serif; 
	color: #2c2c2c;
}

/*=== Terminal style ===*/
.terminal-top {
	background-color: #2f2f2f;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	text-align: center;
	height: 30px;
	line-height: 30px;
	-webkit-box-shadow: 7px 7px 40px 0px rgba(0,0,0,0.4);
	-moz-box-shadow: 7px 7px 40px 0px rgba(0,0,0,0.4);
	box-shadow: 7px 7px 15px 0px rgba(0,0,0,0.4);	
}
.terminal-header {
	font-family: 'Ubuntu', sans-serif; 
	font-size: 16px;
	color: white;
}
.terminal-header-x {
	float: right;
	padding: 7px;
}
.terminal {
	background-color: black;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	height: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	-webkit-box-shadow: 7px 7px 40px 0px rgba(0,0,0,0.4);
	-moz-box-shadow: 7px 7px 40px 0px rgba(0,0,0,0.4);
	box-shadow: 7px 7px 15px 0px rgba(0,0,0,0.4);
}
.terminal-user-hostname {
	font-family: 'Ubuntu', sans-serif; 
	font-size: 16px;
	color: #51b5f7;
	padding-left: 20px;
}
.terminal-command {
	font-family: 'Ubuntu', sans-serif; 
	font-size: 16px;
	color: white;
}
.terminal-reply {
	font-family: 'Ubuntu', sans-serif; 
	font-size: 16px;
	color: white;
	margin: 0px;
	padding-left: 20px;
}
.terminal-pre-ascii {
	color: #51b5f7;
}
pre {
	color: white;
	padding: 20px;
	font-size: 16px;
	white-space: pre-wrap;
	word-wrap: break-word;
	text-align: justify;
	overflow: hidden;
}
pre a{
	color: white;
	text-decoration: none;
}
pre a:hover {
	color: #51b5f7;
}
.blink {
    animation:blink 500ms infinite alternate;
	background-color: #51b5f7;
	width: 3px;
	color: rgba(255, 255, 255, 0);
}
@-webkit-keyframes blink {
      0% { opacity: 0.7; }
     49% { opacity: 0.7; }
     50% { opacity: 0; }
    100% { opacity: 0; }
}

/*=== Particles.js style ===*/
#particles-js {
	background-color: #51b5f7;
	background-image: linear-gradient(to bottom right, #51b5f7, #eeeeee);
	width: 100%;
    height: 100%;
    position: fixed;
    z-index: -10;
    top: 0;
    left: 0
	}